<header id="header" class="header">
    <button>
        <i class="fa fa-2x fa-bars"></i>
    </button>
    <nav>
        <a href="" class="brand-logo-wrap">
            <img src="/images/logo.png" class="brand-logo" alt="logo">
        </a>
    </nav>
    <nav class="header-items">
        <button>
            <i class="fa fa-2x fa-github"></i>
        </button>
        <button>
            <i class="fa fa-2x fa-search"></i>
        </button>
    </nav>
</header>